.inlineColor-red {
    color: coral;
}
.songInputField {
    color: black;
}
.chooseSongsHeader {
    font-family: Poppins, sans-serif;
    font-size: 2.3rem;
}
.chooseSong-container{

}
.selectedSongs-container{
    border-top: 2px solid rgb(138, 138, 138);
    width: 78%;
}    
.selectedSongs {
    margin: 1em 1.2em;
    
}
.orderedSong-container {
    display: grid;
    justify-content: center;
    border: 1px solid red;
}
.orderedSong {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}