@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(94, 189, 94, 0.6);
    background-image: url("../images/nutNote4.png");
}
.form, .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    min-height: 65vh;
    width: 27vw;
    min-width: 450px;
    background-color: #fff3ec;
    padding: 3vh 0;
    box-shadow: 7px 6px 6px lightgray;
}
.namefield {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.namefield > input[type="text"] {
    border: 2px solid black;
    border-radius: 5px;
    width: 18vw;
    min-width: 320px;
    height: 4.3vh;
    font-size: 1.8vh;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    box-shadow: 6px 2px lightgray;
    z-index: 2;
}
.nameheader {
    font-family: Poppins, sans-serif;
    font-size: 2.5vh;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1px;
}
.joinbutton, .startbutton {
    height: 6vh;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-size: 2.3vh;
    color: azure;
    width: 20vw;
    min-width: 280px;
    background-color: #2fbb2f;
    margin-bottom: 0.8vh;
    border: none;
    cursor: pointer;
    box-shadow: 6px 4px 2px lightgray;
}
.joinbutton:hover, .startbutton:hover {
    background-color: green;
    color: beige;
}
.joinbutton:active, .createbutton:active, .startbutton:active  {
    transform: translateY(1px);
}
.createbutton {
    height: 4vh;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-size: 1.5vh;
    color: azure;
    width: 10vw;
    min-width: 140px;
    background-color: coral;
    border: none;
    cursor: pointer;
    box-shadow: 6px 4px 4px lightgray;
}
.createbutton:hover {
    background-color: #ba5d34;
    color: beige;
}
.selectcharacter {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    min-width: 250px;
    height: 20vh;
    background-image: url("../images/characterbackground.jpg");
    border-radius: 1px;
}
.arrowbutton-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2vh 2vw;
}
.arrowbutton {
    height: 3vh;
    cursor: pointer;
}
.arrowbutton:active {
    transform: translateY(1px);
}
.top-character-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -11vh;
    margin-top: -11vh;
}
.character-container {
    position: relative;
}
.basecharacter {
    border-radius: 50%;
    box-shadow: 2px 1px 1px lightgray;
}
.char {
    position: absolute;
    top: 0;
    left: 0;
    height: 11vh;
}
.rounds {
    border: 3px solid black;
    border-radius: 3px;
    padding: 1vh 1.5vw;
}
.roundsheader, .roundsselector {
    font-family: Poppins, sans-serif;
    font-size: 3.5vh;
}
.roundsselector {
    border: none;
    background-color: #fff3ec;
}