@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(74, 222, 214, 0.94);
    background-image: url("../images/nutNote4.png");
}
.body-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form, .settings-container, .players-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    min-height: 650px;
    max-height: 800px;
    height: 92vh;
    width: 28vw;
    min-width: 570px;
    max-width: 650px;
    background-color: rgb(250, 243, 243);
    padding: 4em 0;
    box-shadow: 6px 4px 4px lightgray;
}
.notcookie-container {
    position: absolute;
    bottom: 18px;
    display: flex;
    justify-content: center;
}
.settings-container {
    margin-left: 8vw;
}
.players-container {
    width: 11vw;
    height: 35vh;
    margin-left: 0.4vw;
    display: block;
}
.namefield {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.namefield > input[type="text"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.4em 1.4em;
    width: 21em;
    min-width: 325px;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    box-shadow: 5px 2px 2px lightgray;
    z-index: 2;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1px;
}
.joinbutton, .startbutton {
    padding: 0.5em 5em;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    color: azure;
    background-color: #2fbb2f;
    margin-bottom: 0.8vh;
    border: none;
    cursor: pointer;
    box-shadow: 6px 4px 2px lightgray;
}
.joinbutton:hover, .startbutton:hover {
    background-color: green;
    color: beige;
}
.joinbutton:active, .createbutton:active, .startbutton:active, .cookiebutton:active  {
    transform: translateY(1px);
}
.createbutton {
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: azure;
    padding: 0.6em 5em;
    background-color: coral;
    border: none;
    cursor: pointer;
    box-shadow: 6px 4px 4px lightgray;
}
.createbutton:hover {
    background-color: #ba5d34;
    color: beige;
}
.cookiebutton {
    padding: 0.7em 4em;
    margin-left: 1.2em;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: azure;
    background-color: rgba(24, 24, 24, 0.85);
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 1px lightgray;
}
.selectcharacter {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    height: 23vh;
    min-height: 180px;
    max-height: 275px;
    background-image: url("../images/characterbackground.jpg");
    background-size: cover;
    background-position: left;
    border-radius: 1px;
}
.arrowbutton-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2vh 30px;
}
.arrowbutton {
    height: 3vh;
    cursor: pointer;
}
.arrowbutton:active {
    transform: translateY(1px);
}
.top-character-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -11vh;
}
.selectcharacter > .top-character-position {
    margin-top: -11vh;
}
.character-container {
    position: relative;
}
.basecharacter {
    border-radius: 50%;
    box-shadow: 2px 1px 1px lightgray;
}
.char {
    position: absolute;
    top: 0;
    left: 0;
    height: 11vh;
}
.roundsheader {
    font-family: Poppins, sans-serif;
    font-size: 2.3rem;
    border: 3px solid black;
    border-radius: 3px;
    padding: 1vh 1.5vw;
}
.logo{
    width: 380px;
    margin-bottom: 25px;
}
.notcookiebanner {
    padding: 0.7em 2em 0.7em 2.6em;
    background-color: rgba(248, 248, 248, 0.96);
    display: flex;
    align-items: center;
    box-shadow: none;
    border-radius: 4px;
}
.notcookiebanner > h3 {
    font-family: "Courier New", sans-serif;
    font-size: 15px;
}
.playerheader {
    font-family: Poppins, sans-serif;
    font-size: 2.5vh;
    text-align: center;
    padding: 1vh 0;
}
.playercharacters {
    display: grid;
    grid-template-rows: 10em 2.5em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2em 10% 2em 10%;
}
.main-settings, .speed, .rounds {
    display: block;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
}
.main-settings {
    width: 70%;
}
.speed, .rounds {
    border: 2px solid black;
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(250, 243, 243);
    float: right;
}
.reverse {
    visibility: hidden;
}
.checkbox {
    height: 1.6em;
    border: 3px solid black;
    border-radius: 4px;
    width: 1.6em;
    float: right;
    margin-left: 1.5em;
    margin-top: -1vh;
}
.checkbox-true {
    background-image: url("../images/check.png");
    background-size: cover;
}
.checkbox-false {
    background-image: url("../images/check1.png");
}
.speed-container, .reverse-container, .rounds-container {
    margin: 20% 0;
}
.invitelink {
    text-align: center;
    font-size: 1rem;
    padding: 2% 0;
}
.link {
    color: coral;
    cursor: pointer;
}
