<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
{{ room_name|json_script:"room-name" }}
<div id="main">
    <div id="app"></div>
</div>
<script>
    roomName = JSON.parse(document.getElementById("room-name").textContent)
</script>
<script src="{% static 'frontend/gamePage.js' %}"></script>
</body>
</html>